@media screen and (max-width: 840px) {
    .container {
        nav {
            .logo {
                font-size: 16px;
                img {
                    width: 14px;
                }
            }
            .a1 {
                display: none;
            }
        }
        nav {
            .a1.icon {
                float: right;
                display: block;
            }
        }
        .dropdown {
            .dropbtn {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .container {
        nav {
            .logo {
                font-size: 15px;
                img {
                    width: 11px;
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .container {
        .nav.responsive {
            position: relative;
            height: 100%;
            display: block;
            ul {
                padding-top: 50px;
                display: block;
                align-items: center;
            }
            .a1.icon {
                position: absolute;
                top: 0;
                right: 0;
                padding: 40px 50px;
            }
            .a1 {
                float: none;
                display: block;
                text-align: center;
            }
            .a2 {
                border-bottom: 2px solid $secondory-color;
            }
            .dropdown {
                float: none;
                .dropbtn {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
            .dropdown-content {
                width: 100%;
                margin-top: 10px;
                background-color: $primery-color;
                position: relative;
            }
        }
    }
}