@import "config";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $primery-color;
    font-family: $font-stack;
    line-height: 1.6;
}

.section1 {
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    margin-bottom: 20px;
    border-bottom: 2px solid $secondory-color;
    .main {
        margin: 25px 50px;
    }
    .section-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        button {
            margin-top: 10px;
            display: inline-block;
            border: solid 2.5px $secondory-color;
            border-radius: 50px;
            background-color: $secondory-color;
            color: $primery-color;
            padding: 10px 25px;
            &:hover {
                background-color: $primery-color;
                color: $secondory-color;
            }
        }
        .appintment-form {
            padding: 0 50px;
            input {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                border: solid 1px $secondory-color;
                border-radius: 4px;
                font-family: $font-stack;
            }
            select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                border: solid 1px $secondory-color;
                border-radius: 4px;
                font-family: $font-stack;
            }
        }
        .details {
            padding: 50px;
            .d-details {
                margin-bottom: 25px;
            }
            .h-details {
                margin-top: 25px;
            }
        }
    }
}

td {
    height: 50px;
    padding: 25px 50px;
    text-align: center;
}

tr {
    border-bottom: 1px solid $secondory-color;
}

.section2 {
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    margin-bottom: 20px;
    .main2 {
        margin: 25px 50px;
    }
    .table-content {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        table {
            border-collapse: collapse;
            width: 100%;
            height: auto;
            select {
                width: 100%;
                font-family: $font-stack;
                border: 2px solid $secondory-color;
                padding: 10px 20px;
                border-radius: 5px;
            }
            Button {
                width: 100%;
                font-family: inherit;
                background-color: $secondory-color;
                color: $primery-color;
                padding: 10px 20px;
                border-radius: 50px;
                &:hover {
                    cursor: pointer;
                    background: $primery-color;
                    color: $secondory-color;
                    border: 2px solid $secondory-color;
                }
            }
        }
    }
}

@import "mobile";