@import "config";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $primery-color;
    font-family: $font-stack;
    line-height: 1.6;
}

.showcase {
    img {
        width: 100%;
    }
    .showcase-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
        .description {
            .inputs {
                width: 95%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: solid 1px $secondory-color;
                border-radius: 4px;
                box-sizing: border-box;
                font-family: $font-stack;
            }
            .p_font {
                font-family: $font-stack;
                font-size: 16px;
                line-height: 1.4;
            }
            .btn-primary {
                margin-top: 30px;
                display: inline-block;
                border: solid 2.5px $secondory-color;
                border-radius: 35px;
                background-color: $secondory-color;
                color: $primery-color;
                padding: 10px 25px;
                &:hover {
                    background-color: $primery-color;
                    color: $secondory-color;
                }
            }
        }
        .description {
            padding-left: 150px;
            width: 50%;
        }
        img {
            width: 50%;
        }
        h1 {
            font-size: 50px;
            line-height: 1.2;
        }
    }
    &-content {
        .lottie-player {
            width: 50%;
            height: 700px;
        }
    }
}

.small-div-container {
    width: 100%;
    height: 350px;
    display: flex;
    border-top: $secondory-color solid 2px;
    .line {
        height: 350px;
        border-left: $secondory-color solid 2px;
    }
    .lottie {
        .lottie-all-div {
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 200px;
        }
    }
    .small_div_1 {
        width: 100%;
        height: 350px;
        padding: 20px;
        text-align: center;
    }
    .small_div_2 {
        width: 100%;
        height: 350px;
        padding: 30px;
        text-align: center;
    }
    .small_div_3 {
        width: 100%;
        height: 350px;
        padding: 30px;
        text-align: center;
    }
}

@import "mobile";