@import "config";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primery-color;
    font-family: $font-stack;
    line-height: 1.6;
}

.buttons {
    color: $secondory-color;
}

.google {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.showcase {
    .showcase-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 70px;
        .description {
            .p1 {
                margin-bottom: 30px;
            }
            .btn-google {
                height: 50px;
                align-items: center;
                justify-content: center;
                display: flex;
                border: solid 2.5px $secondory-color;
                border-radius: 35px;
                background-color: $secondory-color;
                color: $primery-color;
                padding: 5px 20px;
                &:hover {
                    background-color: $primery-color;
                    color: $secondory-color;
                }
            }
            .por {
                margin-top: 40px;
                margin-bottom: 40px;
                text-align: center;
                border-bottom: 1px solid $third-color;
                line-height: 0.1em;
                span {
                    background: $primery-color;
                    padding: 0 20px;
                }
            }
            .inputs {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: solid 1px $secondory-color;
                border-radius: 4px;
                box-sizing: border-box;
                font-family: $font-stack;
            }
            .i1 {
                margin-bottom: 20px;
            }
            .fp {
                text-decoration: underline;
                color: $secondory-color;
                &:hover {
                    color: rgb(153, 0, 255);
                }
            }
            .btn-prymery {
                height: 50px;
                margin-top: 30px;
                align-items: center;
                justify-content: center;
                display: flex;
                border: solid 2.5px $secondory-color;
                border-radius: 35px;
                background-color: $secondory-color;
                color: $primery-color;
                padding: 5px 20px;
                &:hover {
                    background-color: $primery-color;
                    color: $secondory-color;
                }
            }
            .p2 {
                margin-top: 30px;
                text-align: center;
            }
            .signup {
                color: rgb(153, 0, 255);
                &:hover {
                    color: $secondory-color;
                }
            }
        }
        .description {
            padding: 0 100px 0 100px;
        }
        h1 {
            margin-bottom: 20px;
            font-size: 50px;
            line-height: 1.2;
        }
    }
    &-content {
        .lottie-player {
            width: 50%;
            height: 700px;
        }
    }
}

@import "mobile";