@import "config";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primery-color;
    font-family: $font-stack;
    line-height: 1.6;
}

.buttons {
    color: $secondory-color;
}

.showcase {
    .showcase-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 70px;
        .description {
            .inputs {
                width: 80%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: solid 1px $secondory-color;
                border-radius: 4px;
                box-sizing: border-box;
                font-family: $font-stack;
            }
            .p_font {
                font-family: $font-stack;
                font-size: 16px;
                line-height: 1.4;
            }
            .btn-prymery {
                width: 80%;
                margin-top: 20px;
                text-align: center;
                display: inline-block;
                border: solid 2.5px $secondory-color;
                border-radius: 35px;
                background-color: $secondory-color;
                color: $primery-color;
                padding: 5px 20px;
                &:hover {
                    background-color: $primery-color;
                    color: $secondory-color;
                }
            }
            .btn-secondory {
                width: 80%;
                margin-top: 20px;
                text-align: center;
                display: inline-block;
                border: solid 2.5px $secondory-color;
                border-radius: 35px;
                background-color: $secondory-color;
                color: $primery-color;
                padding: 5px 20px;
                &:hover {
                    background-color: $primery-color;
                    color: $secondory-color;
                }
            }
            p {
                width: 80%;
                text-align: center;
            }
            .btn-google {
                width: 80%;
                margin-top: 10px;
                text-align: center;
                display: inline-block;
                border: solid 2.5px $secondory-color;
                border-radius: 35px;
                background-color: $secondory-color;
                color: $primery-color;
                padding: 5px 20px;
                &:hover {
                    background-color: $primery-color;
                    color: $secondory-color;
                }
            }
        }
        .description {
            width: 50%;
            padding-left: 150px;
        }
        h1 {
            margin-bottom: 20px;
            font-size: 50px;
            line-height: 1.2;
        }
    }
    &-content {
        .lottie-player {
            width: 50%;
            height: 700px;
        }
    }
}