@import "config";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $primery-color;
    font-family: $font-stack;
    line-height: 1.6;
}

.showcase {
    img {
        width: 100%;
    }
    .showcase-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
        .description {
            padding: 100px;
            .inputs {
                width: 95%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: solid 1px $secondory-color;
                border-radius: 5px;
                box-sizing: border-box;
                font-family: $font-stack;
            }
            .p_font {
                font-family: $font-stack;
                font-size: 16px;
                line-height: 1.4;
            }
            .btn-primery {
                margin: 30px;
                display: inline-block;
                border: solid 2.5px $secondory-color;
                border-radius: 35px;
                background-color: $secondory-color;
                color: $primery-color;
                padding: 10px 25px;
                &:hover {
                    background-color: $primery-color;
                    color: $secondory-color;
                }
            }
        }
        .description {
            width: 50%;
            margin-top: 20px;
        }
        img {
            width: 50%;
        }
        h1 {
            font-size: 50px;
            line-height: 1.2;
        }
    }
    &-content {
        .lottie-player {
            width: 50%;
            height: 700px;
        }
    }
}

@import "mobile";