@media screen and (max-width: 375px) {
    footer {
        .logo {
            font-size: 25px;
            img {
                width: 20px;
            }
        }
        .copyright {
            font-size: 12px;
        }
    }
}